<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出错了!!!</title>
    <style>
        body{
            text-align: center;
         
            margin:0 auto;
           background: aqua;
        }
        h1{
           
            color:red;
        }
        /* img{
            width: 100%;
            /* margin: 0 auto; */
     

    </style>
</head>
<body>
    <h1>出错了</h1>
    <h3>错误信息：<%= errMsg %></h3>
    <img src="/imgs/u=3593158585,891890780&fm=26&gp=0.jpg" >
</body>
</html>